#guidelines .container {
  margin: 15px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  text-align: center;
}

#guidelines .container p,
h3,
a {
  margin: 5px;
  padding: 10px;
  color: #fff;
}

#guidelines .container h3 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
}

#guidelines .container a {
  color: #3F0D12;
}

#guidelines .container a:hover {
  font-size: 1.2rem;
}

.link-guidelines {
  background-color: #dd2d4a;
  box-shadow: 4px 4px 7px #3F0D12;
  font-weight: 600;
  text-align: center;
  margin-left: 25%;
  margin-right: 30%;
  border-radius: 10px;
  text-decoration: none;
  margin-bottom: 50px;
}

@media only screen and (min-width: 768px) {
  #guidelines .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    text-align: left;
  }
  #guidelines .container h2 {
    grid-column: 1/2;
  }
  #guidelines .container h3,
  p,
  a {
    grid-column: 1/2;
  }

  #guidelines .container::after {
    margin-left: 80px;
    margin-top: 150px;
    width: 80%;
    height: 80%;
    grid-row: 2/6;
    grid-column: 2/3;
  }
}
