#guidelines .container {
  margin: 15px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  text-align: center;
}

#guidelines .container p,
h3,
a {
  margin: 5px;
  padding: 10px;
  color: #fff;
}

#guidelines .container h3 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
}

#guidelines .container a {
  color: #3F0D12;
}

#guidelines .container a:hover {
  font-size: 1.2rem;
}

.link-guidelines {
  background-color: #dd2d4a;
  box-shadow: 4px 4px 7px #3F0D12;
  font-weight: 600;
  text-align: center;
  margin-left: 25%;
  margin-right: 30%;
  border-radius: 10px;
  text-decoration: none;
  margin-bottom: 50px;
}

#guidelines .container::after {
  content: "";
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23F49CBB" viewBox="0 0 32 32"><path d="M23.6 2c-3.363 0-6.258 2.736-7.599 5.594-1.342-2.858-4.237-5.594-7.601-5.594-4.637 0-8.4 3.764-8.4 8.401 0 9.433 9.516 11.906 16.001 21.232 6.13-9.268 15.999-12.1 15.999-21.232 0-4.637-3.763-8.401-8.4-8.401z"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 10px;
  margin-left: 40%;
  width: 100px;
  height: 100px;
  grid-row: 2;
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@media only screen and (min-width: 768px) {
  #guidelines .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    text-align: left;
  }

  #guidelines .container h2 {
    grid-column: 1/2;
  }

  #guidelines .container h3,
p,
a {
    grid-column: 2/3;
  }

  #guidelines .container::after {
    margin-left: 80px;
    margin-top: 150px;
    width: 80%;
    height: 80%;
    grid-row: 2/6;
    grid-column: 1/2;
  }
}
