/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Life+Savers:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

svg {
  width: 50px;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*
.life-savers-regular {
  font-family: "Life Savers", serif;
  font-weight: 400;
  font-style: normal;
}

.life-savers-bold {
  font-family: "Life Savers", serif;
  font-weight: 700;
  font-style: normal;
} */
h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-strong);
  line-height: 1;
  margin-bottom: 0.65em;
}

h1 {
  font-size: var(--font-size-h1);
  font-size: clamp(2rem, 7vw, var(--font-size-h1));
}

h2 {
  font-size: var(--font-size-h2);
  font-size: clamp(2rem, 4vw, var(--font-size-h2));
  text-align: center;
}

#main h2 {
  background-color: var(--color-secondary);
  align-self: center;
  color: var(--color-background);
  padding: 0.25em 0.5em;
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

p,
li {
  font-size: var(--font-size-text);
}

p {
  margin: 0 0 1rem;
}

article .container > ul:not(.features) > li + li,
article .container > ol > li + li {
  margin-top: 1rem;
}
article .container * + h2 {
  margin-top: 4rem;
}
article .container * + h3 {
  margin-top: 2rem;
}

strong {
  font-weight: var(--font-weight-strong);
}

a {
  color: var(--color-anchor);
}

blockquote {
  position: relative;
  display: grid;
  grid-template-areas: "blockquote";
  place-items: center;
  padding: 0;
  margin: 3rem 0;
  color: var(--color-primary);
}
blockquote > * {
  grid-area: blockquote;
}
blockquote p {
  position: relative;
  font-size: var(--font-size-h4);
  margin-bottom: 0;
  padding: 0.5em;
}
blockquote p strong {
  font-size: 1.15em;
}
blockquote::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid var(--color-primary);
  box-shadow: 0.25em 0.25em var(--color-secondary);
  transform: scale(1.1);
  content: "";
}

#guidelines p:nth-of-type(1),
#contribute p:nth-of-type(1) {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-strong);
}

:root {
  --color-primary: #3F0D12;
  --color-primary-alt: #F49CBB;
  --color-secondary: #880D1E;
  --color-background: #F49CBB;
  --color-text: #231214;
  --color-light: #fff;
  --color-anchor: #3F0D12;
  --font-family: "Baloo 2", sans-serif;
  --font-weight-strong: 500;
  --font-size-h1: 6rem;
  --font-size-h2: 3rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.35rem;
  --font-size-text: 1.15rem;
  --border-radius: 8px;
}

nav {
  font-family: "Sour Gummy", san-serif;
  position: sticky;
  top: 0;
}
nav li {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 1rem;
}
nav li a {
  text-decoration: none;
}
nav :hover {
  color: #F49CBB;
}

body {
  background: linear-gradient(180deg, #880d1e 0%, #f49cbb 100%);
  font-family: "Baskervile", sans-serif;
}

h1, h2 {
  font-family: "Dancing Script", serif;
}

header div {
  font-family: "Sour Gummy", san-serif;
  margin: 2%;
  display: grid;
}
header div h1, header div h2 {
  text-align: center;
  padding-right: 1rem;
  grid-column-start: 1;
  grid-column-end: 3;
}
header div a {
  text-decoration: none;
}

.link-github svg {
  display: grid;
  grid-template-rows: 2;
  fill: #F49CBB;
  scale: 0.75;
  text-align: left;
  animation: rotate 5s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

header div a:hover {
  text-shadow: #F49CBB 2px 2px 2px;
}

#about .container:nth-last-of-type(2) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-bottom: 4em;
}
#about .container:nth-last-of-type(2) h2 {
  grid-column: 1;
  align-self: start;
  margin: 0;
  padding-right: 15px;
  position: sticky;
  top: 0;
}
#about .container:nth-last-of-type(2) p {
  grid-column: 2;
  padding-right: 15px;
}
#about .container:nth-last-of-type(2) blockquote, #about .container:nth-last-of-type(2) blockquote::before {
  grid-column: 2;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  margin-left: 10px;
}

@media (max-width: 1000px) {
  #about .container:nth-last-of-type(2) {
    grid-template-columns: 1fr;
  }
  #about .container:nth-last-of-type(2) p {
    grid-column: 1;
    padding-left: 15px;
  }
  #about .container:nth-last-of-type(2) blockquote, #about .container:nth-last-of-type(2) blockquote::before {
    grid-column: 1;
    margin-left: 5%;
  }
}
#about .container:nth-last-of-type(1) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-bottom: 4em;
}
#about .container:nth-last-of-type(1) h2 {
  grid-column: 2;
  align-self: start;
  margin: 0;
  padding-left: 15px;
}
#about .container:nth-last-of-type(1) p, #about .container:nth-last-of-type(1) ul {
  grid-column: 1;
  padding-left: 15px;
}
#about .container:nth-last-of-type(1) p:nth-of-type(1) {
  grid-row: 1;
}

#about .container:nth-last-of-type(1) ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  margin: 2em;
  margin-left: 5em;
  padding: 0;
  padding-bottom: 40px;
  padding-top: 10px;
  height: fit-content;
  max-width: 35em;
}

#about .container:nth-last-of-type(1) li {
  list-style-type: none;
  margin: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 150px;
  height: 100px;
  padding-bottom: 30px;
  font-size: 16px;
  padding: 0;
  color: #F49CBB;
}

#about .container:nth-last-of-type(1) li::before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23880D1E" viewBox="0 0 16 16"><path d="M1.24264 8.24264L8 15L14.7574 8.24264C15.553 7.44699 16 6.36786 16 5.24264V5.05234C16 2.8143 14.1857 1 11.9477 1C10.7166 1 9.55233 1.55959 8.78331 2.52086L8 3.5L7.21669 2.52086C6.44767 1.55959 5.28338 1 4.05234 1C1.8143 1 0 2.8143 0 5.05234V5.24264C0 6.36786 0.44699 7.44699 1.24264 8.24264Z"/></svg>');
  position: absolute;
  top: 75%;
  left: 50%;
  width: 190px;
  height: 190px;
  transform: translate(-50%, -50%) scale(1);
  z-index: -1;
  transition: transform 0.3s ease-in-out;
}

#about .container:nth-last-of-type(1) li:hover::before {
  transform: translate(-50%, -50%) scale(1.5);
}

#about .container:nth-last-of-type(1) li span {
  position: relative;
  z-index: 1;
}

@media (max-width: 1000px) {
  #about .container:nth-last-of-type(1) {
    grid-template-columns: 1fr;
  }
  #about .container:nth-last-of-type(1) h2 {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
  }
  #about .container:nth-last-of-type(1) p:nth-of-type(1) {
    grid-row: 2;
  }
  #about .container:nth-last-of-type(1) ul {
    max-width: 100%;
  }
}
#guidelines .container {
  margin: 15px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  text-align: center;
}

#guidelines .container p,
h3,
a {
  margin: 5px;
  padding: 10px;
  color: #fff;
}

#guidelines .container h3 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
}

#guidelines .container a {
  color: #3F0D12;
}

#guidelines .container a:hover {
  font-size: 1.2rem;
}

.link-guidelines {
  background-color: #dd2d4a;
  box-shadow: 4px 4px 7px #3F0D12;
  font-weight: 600;
  text-align: center;
  margin-left: 25%;
  margin-right: 30%;
  border-radius: 10px;
  text-decoration: none;
  margin-bottom: 50px;
}

#guidelines .container::after {
  content: "";
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23F49CBB" viewBox="0 0 32 32"><path d="M23.6 2c-3.363 0-6.258 2.736-7.599 5.594-1.342-2.858-4.237-5.594-7.601-5.594-4.637 0-8.4 3.764-8.4 8.401 0 9.433 9.516 11.906 16.001 21.232 6.13-9.268 15.999-12.1 15.999-21.232 0-4.637-3.763-8.401-8.4-8.401z"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 10px;
  margin-left: 40%;
  width: 100px;
  height: 100px;
  grid-row: 2;
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@media only screen and (min-width: 768px) {
  #guidelines .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    text-align: left;
  }

  #guidelines .container h2 {
    grid-column: 1/2;
  }

  #guidelines .container h3,
p,
a {
    grid-column: 2/3;
  }

  #guidelines .container::after {
    margin-left: 50px;
    margin-top: 150px;
    width: 80%;
    height: 80%;
    grid-row: 2/6;
    grid-column: 1/2;
  }
}
#contribute {
  color: #fff;
  margin: 20px;
  padding: 10px;
  text-align: center;
  margin-bottom: 30px;
}

#contribute h3 {
  font-family: "Sour Gummy", san-serif;
  font-size: 2rem;
  color: #3F0D12;
  text-decoration: underline;
}

#contribute ol {
  list-style: none;
  counter-reset: step-counter;
  background-color: #fff;
  color: #3F0D12;
  border-radius: 15px;
  padding: 40px;
}

#contribute ol li {
  font-size: 1rem;
  counter-increment: step-counter;
  position: relative;
}

#contribute ol li a {
  color: #3F0D12;
}

#contribute ol li::before {
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18 4c-4-1-6 3-6 3s-2-4-6-3-4 6-2 8l8 8 8-8c2-2 2-7-2-8z" fill="%23880D1E"></path></svg>');
  position: absolute;
  left: -37px;
  top: 50%;
  transform: translateY(-50%);
}

#contribute ol li::after {
  content: counter(step-counter);
  position: absolute;
  left: -32px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-align: center;
  width: 25px;
}

#files a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dd2d4a;
  border-radius: 5px;
  margin: 15px;
  padding: 10px;
  text-decoration: none;
  box-shadow: 4px 4px 7px #3F0D12;
}

#files a:hover {
  font-size: 1.1rem;
}

@media only screen and (min-width: 768px) {
  #contribute .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    text-align: left;
  }

  #contribute .container h2 {
    grid-column: 2/3;
  }

  #contribute h3 {
    grid-column: 1/2;
  }

  #contribute .container p {
    grid-column: 1/2;
  }

  #contribute ol {
    grid-column: 1/2;
  }

  #files a {
    grid-column: 1/2;
    margin: 0;
  }
}
