/* Error: expected "{".
 *    ,
 * 15 | @import "./background/background";
 *    |                                  ^
 *    '
 *   sass\style.scss 15:34  root stylesheet */
 @import url("https://fonts.googleapis.com/css2?family=Life+Savers:wght@400;700;800&display=swap");
 @import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
 @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
 
body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 15 \2502  @import "./background/background";\d\a    \2502                                   ^\a    \2575 \a   sass\\style.scss 15:34  root stylesheet';
}
