#about .container:nth-last-of-type(2) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-bottom: 4em;
}
#about .container:nth-last-of-type(2) h2 {
  grid-column: 1;
  align-self: start;
  margin: 0;
  padding-right: 15px;
  position: sticky;
  top: 0;
}
#about .container:nth-last-of-type(2) p {
  grid-column: 2;
  padding-right: 15px;
}
#about .container:nth-last-of-type(2) blockquote, #about .container:nth-last-of-type(2) blockquote::before {
  grid-column: 2;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  margin-left: 10px;
}

@media (max-width: 1000px) {
  #about .container:nth-last-of-type(2) {
    grid-template-columns: 1fr;
  }
  #about .container:nth-last-of-type(2) p {
    grid-column: 1;
    padding-left: 15px;
  }
  #about .container:nth-last-of-type(2) blockquote, #about .container:nth-last-of-type(2) blockquote::before {
    grid-column: 1;
    margin-left: 5%;
  }
}
